<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#1890ff" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords"
        content="antd,umi,umijs,ant design,Scaffolding, layout, Ant Design, project, Pro, admin, console, homepage, out-of-the-box, middle and back office, solution, component library" />
    <meta name="description" content="
    An out-of-box UI solution for enterprise applications as a React boilerplate." />
    <meta name="description" content="
      Out-of-the-box mid-stage front-end/design solution." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Ant Design Pro</title>
    <link rel="icon" href="<%= context.config.publicPath +'favicon.ico'%>" type="image/x-icon" />
</head>

<body>
    <noscript>
        <div class="noscript-container">
            Hi there! Please
            <div class="noscript-enableJS">
                <a href="https://www.enablejavascript.io/en" target="_blank" rel="noopener noreferrer">
                    <b>enable Javascript</b>
                </a>
            </div>
            in your browser to use Ant Design, Out-of-the-box mid-stage front/design solution!
        </div>
    </noscript>
    <div id="root">
        <style>
            html,
            body,
            #root {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #root {
                background-repeat: no-repeat;
                background-size: 100% auto;
            }

            .noscript-container {
                display: flex;
                align-content: center;
                justify-content: center;
                margin-top: 90px;
                font-size: 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
                    Geneva, Verdana, sans-serif;
            }

            .noscript-enableJS {
                padding-right: 3px;
                padding-left: 3px;
            }

            .page-loading-warp {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 98px;
            }

            .ant-spin {
                position: absolute;
                display: none;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                color: rgba(0, 0, 0, 0.65);
                color: #1890ff;
                font-size: 14px;
                font-variant: tabular-nums;
                line-height: 1.5;
                text-align: center;
                list-style: none;
                opacity: 0;
                -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
                transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
                transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
                transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
                    -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
                -webkit-font-feature-settings: 'tnum';
                font-feature-settings: 'tnum';
            }

            .ant-spin-spinning {
                position: static;
                display: inline-block;
                opacity: 1;
            }

            .ant-spin-dot {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                font-size: 20px;
            }

            .ant-spin-dot-item {
                position: absolute;
                display: block;
                width: 9px;
                height: 9px;
                background-color: #1890ff;
                border-radius: 100%;
                -webkit-transform: scale(0.75);
                -ms-transform: scale(0.75);
                transform: scale(0.75);
                -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                opacity: 0.3;
                -webkit-animation: antspinmove 1s infinite linear alternate;
                animation: antSpinMove 1s infinite linear alternate;
            }

            .ant-spin-dot-item:nth-child(1) {
                top: 0;
                left: 0;
            }

            .ant-spin-dot-item:nth-child(2) {
                top: 0;
                right: 0;
                -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
            }

            .ant-spin-dot-item:nth-child(3) {
                right: 0;
                bottom: 0;
                -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s;
            }

            .ant-spin-dot-item:nth-child(4) {
                bottom: 0;
                left: 0;
                -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s;
            }

            .ant-spin-dot-spin {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-animation: antrotate 1.2s infinite linear;
                animation: antRotate 1.2s infinite linear;
            }

            .ant-spin-lg .ant-spin-dot {
                width: 32px;
                height: 32px;
                font-size: 32px;
            }

            .ant-spin-lg .ant-spin-dot i {
                width: 14px;
                height: 14px;
            }

            @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                .ant-spin-blur {
                    background: #fff;
                    opacity: 0.5;
                }
            }

            @-webkit-keyframes antSpinMove {
                to {
                    opacity: 1;
                }
            }

            @keyframes antSpinMove {
                to {
                    opacity: 1;
                }
            }

            @-webkit-keyframes antRotate {
                to {
                    -webkit-transform: rotate(405deg);
                    transform: rotate(405deg);
                }
            }

            @keyframes antRotate {
                to {
                    -webkit-transform: rotate(405deg);
                    transform: rotate(405deg);
                }
            }

            .img {
                animation: bgLight 2s linear infinite;
                -webkit-animation: bgLight 2s linear infinite;
            }

            @keyframes bgLight {
                0% {
                    width: 40%;
                    opacity: 1;
                }

                10% {
                    width: 40%;
                    opacity: 0.8;
                }

                20% {
                    width: 40%;
                    opacity: 0.6;
                }

                30% {
                    width: 60%;
                    opacity: 0.4;
                }

                40% {
                    width: 60%;
                    opacity: 0.2;
                }

                50% {
                    width: 60%;
                    opacity: 0;
                }

                60% {
                    width: 60%;
                    opacity: 0.2;
                }

                70% {
                    width: 100%;
                    opacity: 0.4;
                }

                80% {
                    width: 100%;
                    opacity: 0.6;
                }

                90% {
                    width: 100%;
                    opacity: 0.8;
                }

                100% {
                    width: 100%;
                    opacity: 1;
                }
            }

            .container {
                height: 300px;
                width: 600px;
                background: #000000;
                margin: 50px auto;
            }

            .person {
                position: absolute;
                height: 105px;
                width: 0;
                color: #fff;
                left: 400px;
                top: 650px;
                transform-origin: 50% 50% 0px;
                -webkit-animation: sprint 1s infinite ease-in;
            }

            .person .head:before {
                content: "";
                position: absolute;
                top: 0px;
                left: -10px;
                height: 2.7px;
                width: 42px;
                border-radius: 20%;
                border: 4px solid red;
                background-color: #ff0000;
                transform-origin: 50% 100% 0px;
                z-index: 90;

            }

            .person .head {
                position: absolute;
                top: -25px;
                left: -10px;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                border: 4px solid white;
                transform-origin: 50% 100% 0px;
                z-index: 90;
                -webkit-animation: bob 2s infinite alternate;
            }

            .person .head:after {
                content: "";
                position: absolute;
                top: -12px;
                left: 4px;
                height: 12px;
                width: 15px;
                border-radius: 30%;
                border: 4px solid red;
                background-color: yellow;
                z-index: 90;
            }

            .person .torso {
                position: absolute;
                height: 60px;
                width: 1px;
                border-left: 2px solid white;
                left: 0px;
                top: 15px;
                z-index: 90;
            }

            .person .part {
                position: absolute;
                left: 3px;
                top: 75px;
                z-index: 90;
            }

            .person .part.arm {
                position: absolute;
                border-left: 3px solid #b5b8c5;
                border-bottom: 3px solid #b5b8c5;
                height: 45px;
                width: 39px;
                top: 15px;
                right: 300px;
                transform-origin: 0% 10% 0px;
                -webkit-animation: pump 1s infinite ease-in-out;
            }

            .person .part.arm.one {
                transform: rotate3d(0, 0, 1, -50deg);
            }

            .person .part.arm.two {
                transform: rotate3d(0, 0, 1, 70deg);
                animation-delay: .5s;
            }

            .person .part.leg {
                height: 57px;
                width: 60px;
                border-right: 3px solid #b5b8c5;
                border-top: 3px solid #b5b8c5;
                -webkit-animation: run 1s infinite ease-in;
                transform-origin: 0% 0% 0px;
            }

            .person .part.leg.one {
                transform: rotate3d(0, 0, 1, 70deg);
            }

            .person .part.leg.two {
                transform: rotate3d(0, 0, 1, 50deg);
                animation-delay: .5s;
            }

            .person .part .foot {
                position: absolute;
                top: 90px;
                left: 0;
                width: 3px;
                height: 4px;
                background-color: #ffffff;
                z-index: 900;
                border: 3px solid red;
            }

            @keyframes run {
                0% {
                    transform: rotate3d(0, 0, 1, -5deg);
                }

                50% {
                    transform: rotate3d(0, 0, 1, 150deg);
                }

                100% {
                    transform: rotate3d(0, 0, 1, -5deg);
                }
            }

            @keyframes bob {
                0% {
                    transform: rotate3d(0, 0, 1, 5deg);
                }

                25% {
                    transform: rotate3d(0, 0, 1, -30deg) skew(15deg, 0deg);
                }

                50% {
                    transform: rotate3d(0, 0, 1, 5deg);
                }

                75% {
                    transform: rotate3d(0, 0, 1, -30deg) skew(15deg, 0deg);
                }

                100% {
                    transform: rotate3d(0, 0, 1, 20deg) skew(-15deg, 0deg);
                }
            }

            @keyframes pump {
                0% {
                    transform: rotate3d(0, 0, 1, 80deg);
                }

                50% {
                    transform: rotate3d(0, 0, 1, -70deg);
                }

                100% {
                    transform: rotate3d(0, 0, 1, 80deg);
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate3d(0, 0, 1, -180deg);
                }

                25% {
                    transform: rotate3d(0, 0, 1, -100deg);
                }

                75% {
                    transform: rotate3d(0, 0, 1, 100deg);
                }

                100% {
                    transform: rotate3d(0, 0, 1, 180deg);
                }
            }

            @keyframes sprint {
                0% {
                    transform-origin: 50% 50% 0px;
                    transform: translate(0px, 0px);
                }

                100% {
                    transform: translate(0px, 0px);
                    transform-origin: 50% 50% 0px;
                    transform: translate(400px, 0px);
                }
            }

            .charector {
                position: absolute;
                width: 180px;
                height: 300px;
                background: url(/charector.png) 0 0 no-repeat;
                -webkit-animation-name: charector-1;
                /* 动画名称 */
                -webkit-animation-iteration-count: infinite;
                /* 动画无限播放 */
                -webkit-animation-timing-function: step-start;
                /* 马上跳到动画每一结束桢的状态 */
                -webkit-animation-duration: 950ms;
                /* 动画运行的时间 */
            }

            @-webkit-keyframes charector-1 {
                0% {
                    background-position: 0 0;
                }

                14.3% {
                    background-position: -180px 0;
                }

                28.6% {
                    background-position: -360px 0;
                }

                42.9% {
                    background-position: -540px 0;
                }

                57.2% {
                    background-position: -720px 0;
                }

                71.5% {
                    background-position: -900px 0;
                }

                85.8% {
                    background-position: -1080px 0;
                }

                100% {
                    background-position: 0 0;
                }
            }
        </style>
        <div style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          min-height: 420px;
          background-color: black;
        ">
            <img src="/pro.png" alt="logo" width="512" class="img" />
            <div class=" page-loading-warp">
                <div class="ant-spin ant-spin-lg ant-spin-spinning">
                    <span class="ant-spin-dot ant-spin-dot-spin"><i class="ant-spin-dot-item"></i><i
                            class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i><i
                            class="ant-spin-dot-item"></i></span>
                </div>
            </div>
            <div style="display: flex; align-items: center; justify-content: center">
                <img src="/logo.svg" width="32" style="margin-right: 8px" />
                <p style="color: #fff;">Multimodal Platform</p>

            </div>
            <div class="container">
                <div class="person">
                    <div class="head"></div>
                    <div class="part arm one"></div>
                    <div class="part arm two"></div>
                    <div class="torso"></div>
                    <div class="part leg one"></div>
                    <div class="part foot one"></div>
                    <div class="part leg two"></div>
                    <div class="part foot two"></div>
                    <div class="charector"></div>
                </div>
            </div>



        </div>
    </div>
</body>

</html>